<nav class="navbar navbar-light navbar-expand-md text-end">
    <div class="container-fluid"><a class="navbar-brand" href="index.html">Expediente Clínico Digital</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-end" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" routerLink="/inicio">Inicio</a></li>
                <li class="nav-item"><a class="nav-link"  routerLink="/aboutus">Conócenos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Transparencia</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Campañas Medicas</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/login">Iniciar sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="margin-bottom: 3.5rem;margin-top: 4rem;">
    <section id="carousel">
        <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <div class="bg-light border rounded border-light pulse animated hero-nature carousel-hero jumbotron py-5 px-4">
                        <h1 class="hero-title">Conectamos tu salud con cualquier hospital</h1>
                        <p class="hero-subtitle">Los datos de los colaboradores son datos sensibles y la empresa debe de poder garantizar su seguridad y acceso a las personas correctas. Es indispensable contar con una herramienta que asegure la integridad y respaldo de la información a través de roles y permisos.<br><br></p>
                        <p><a class="btn btn-primary hero-button plat" role="button" data-bss-hover-animate="pulse" href="#">Leer más..</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="bg-light border rounded border-light pulse animated hero-photography carousel-hero jumbotron py-5 px-4">
                        <h1 class="hero-title"><br><strong>Disponibilidad de la información en cualquier momento</strong><br><br></h1>
                        <p class="hero-subtitle">Contar con la información digitalizada facilita su visualización y actualización desde cualquier lugar y en cualquier momento.<br></p>
                        <p><a class="btn btn-primary hero-button plat" role="button" data-bss-hover-animate="pulse" href="#">Leer más...</a></p>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="bg-light border rounded border-light pulse animated hero-technology carousel-hero jumbotron py-5 px-4">
                        <h1 class="hero-title"><br><strong>El mejor sitio para Clínicas y Hospitales</strong><br><br></h1>
                        <p class="hero-subtitle">Una plataforma de administración Hospitalaria que aumenta la productividad y cercanía con los pacientes.<br></p>
                        <p><a class="btn btn-primary hero-button plat" role="button" data-bss-hover-animate="pulse" href="#">Leer más..</a></p>
                    </div>
                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel-1" data-bs-slide-to="0"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="2" class="active"></li>
            </ol>
        </div>
    </section>
</div><img data-aos="zoom-out-down" data-aos-duration="400" id="imagendown" src="assets/img/b.png">
<div id="textointro">
    <section class="text-center highlight-clean">
        <div class="container text-center">
            <div class="intro">
                <h2 class="text-center" data-aos="zoom-in">Regístrate para que puedas consultar tu información clínica</h2>
                <p class="text-center" data-aos="zoom-out">Inicia sesión e ingresa tu información básica, bienvenido a tu expediente clínico digital.</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" data-bss-hover-animate="pulse" routerLink="/login">iNICIAR SESIóN</a><button class="btn btn-light" data-bss-hover-animate="pulse" type="button">Registrarse</button></div>
        </div>
    </section>
</div>
<section class="features-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" data-aos="fade" data-aos-duration="950">Funcionalidades</h2>
            <p class="text-center" data-aos="fade" data-aos-duration="900"><br>Con cada una de estas herramientas se espera dar una experiencia superior a cada paciente.<br><br></p>
        </div>
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div data-bss-hover-animate="pulse" class="box"><i class="fa fa-search icon"></i>
                    <h3 class="name">Consulta tu expediente clínico</h3>
                    <p class="description">Obtén acceso a tu información en cualquier lugar y momento.<br><br></p><a class="learn-more" href="#">Vamos allá »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div data-bss-hover-animate="pulse" class="box"><i class="fa fa-crosshairs icon"></i>
                    <h3 class="name">Registro de información actualizada</h3>
                    <p class="description">Cada doctor podrá agregar información correspondiente a su expediente clínico.</p><a class="learn-more" href="#">Vamos allá »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div data-bss-hover-animate="pulse" class="box"><i class="fa fa-download icon"></i>
                    <h3 class="name">Descarga de documentación clínica&nbsp;</h3>
                    <p class="description">La descarga de información, consultas análisis será primordial para los pacientes y doctores.</p><a class="learn-more" href="#">Vamos allá »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-search icon"></i>
                    <h3 class="name">Registro</h3>
                    <p class="description">Abc</p><a class="learn-more" href="#">Vamos allá »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-search icon"></i>
                    <h3 class="name">Registro</h3>
                    <p class="description">Abc</p><a class="learn-more" href="#">Vamos allá »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-search icon"></i>
                    <h3 class="name">Registro</h3>
                    <p class="description">Abc</p><a class="learn-more" href="#">Vamos allá »</a>
                </div>
            </div>
        </div>
    </div>
    
</section>